.componente {
    height: 700px;
    width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.componente:hover , .componente:active .filtro{
    opacity: 0;
}

.Transformacoes {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 100px;
}
 
.filtro {
    position: absolute;
    flex-direction: row;
    height: 100%;
    width: 100%;
    z-index: 1;
    pointer-events:none;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    transition: 500ms;
}

.filtro:hover {
    opacity: 0;
}

.filtroAntes {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 40%;
    z-index: 1;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(0, 0, 0));
    align-items: center;
}

.filtroDepois {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 30%;
    z-index: 2;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 0, 0));
}

.textoAntes {
    z-index: 1;
    color: aliceblue;
    margin-left: 30px;
}

.textoDepois {
    z-index: 1;
    color: aliceblue;
    
}